
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.thumbnail {
  width: 100%;
}

.video-preview {
  min-height: 280px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.15);
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  width: 50px;
  height: 50px;
  vertical-align: top;
  position: relative;
}

.profile-picture-container {
  position: relative;
}

.profile-picture-container .tooltip {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  left: 5px;
  bottom: -60px;
  opacity: 0;
  pointer-events: none;
}

.profile-picture-container:hover .tooltip {
  opacity: 1;
}

.tooltip img {
  height: 45px;
  border-radius: 25px;
  margin-left: 10px;
}

.tooltip-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.tooltip-info p:nth-child(1) {
  font-size: 14px;
  font-family: Roboto, Arial;
  font-weight: bold;
}

.tooltip-info p:nth-child(2) {
  font-size: 12px;
  font-family: Roboto, Arial;
}



.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}

.profile-picture {
  width: 36px;
  border-radius: 25px;
  margin-left: 5px;
}

.video-info {
  width: 200px;
}

.video-info a {
  text-decoration: none;
  color: black;
}

.video-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.video-author, .video-stats {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(96, 96, 96);
}